* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header {
  width: 100vw;
  height: 100vh;
  background-color: red;
  background-image: url(../img/1.jpg);
}
.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.NavbarPages {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  color: white;
}
.center-container {
  border: 30px;
  width: 30vw;
  height: 50vh;
  justify-content: space-around;
  position: relative;
}
.text {
  color: white;
  font-size: x-large;
  position: relative;
}
.text1 {
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: medium;
  position: center;
}

.boxRight {
  background-color: blue;
  border: rgb(0, 187, 87);
  margin: 1rem;
  display: inline-flex;
  /* position: relative; */
}

.phone1,
.phone2 {
  width: 10rem;
}

.phone1 {
  position: absolute;
  right: -1rem;
  top: 0rem;
}

.phone2 {
  position: relative;
  top: 0.5rem;
}

.buttons {
  display: inline-flex;
  justify-content: space-between;
}

.button1,
.button2 {
  width: 7rem;
  height: 1.8rem;
  border: transparent;
  color: white;
}

.button1 {
  background-color: rgb(0, 187, 87);
}

.button2 {
  background-color: rgb(98, 98, 250);
}

/* @media only screen and (max-width: 1800px) {
  .Header {
    color: gray;
  } */
