* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header {
  width: 100vw;
  height: 100vh;
  background-color: red;
  background-image: url(../img/1.jpg);
}
.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.NavbarPages {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  color: white;
}
.center-container{
  border: 30px;
  width: 30vw;
  height: 50vh;
  justify-content: space-around;
  position:relative;

}
.text{
  color: white;
  font-size: x-large;
  position: relative;
  
}
.text1{
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: medium;
  position: center;
  
}
.left-containe{
  border: 50px;
  width: 50vw;
  height: 75vh;
}


@media only screen and (max-width: 1800px) {
  .Header {
    color: gray;
  }